<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    {% if user.is_authenticated %}
    <p>Welcome {{ user.username }} [ID: {{user_id}}]</p>
    <p>Your relevant announcements are:</p>
        <ul>
            {% for announcement in valid_announcements %}
                <li>{{ announcement.title }} {{ announcement.message }}</li>
            {% endfor %}
        </ul>
    <p><a href="accounts/logout">Logout</a></p>
    {% else %}
    <p><a href="/login">Login</a></p>
    <p><a href="/register">Register</a></p>
    {% endif %}
</body>

</html>